[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
